<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pop-up-places in warangal</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <!--sidebar containing the information about the places-->
    <div class="option-box">
        <h2>Enter the place</h2>
        <div>
            <div>
                <input class="filter-in" type="text" data-bind="value:list,valueUpdate: 'afterkeydown'"
                       placeholder="Enter the place">
            </div>
            <div>
<h4>places which are cool :</h4>
            </div>
            <ol  data-bind="foreach:markers()">
                <li data-bind="click: $parent.itemClicked.bind($data, index)"><a href="" data-bind="text:title"></a>
                </li>
            </ol>
        </div>
    </div>
 <div class="map-container">
        <h2>places you find intresting in warangal</h2>
        <div id="map"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
