<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pop-up-places in warangal</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <!--sidebar containing the information about the places-->
    <div class="option-box">
        <h2>Enter the place</h2>
        <div>
            <div>
                <input class="filter-in" type="text" data-bind="value:list,valueUpdate: 'afterkeydown'"
                       placeholder="Enter the place">
            </div>
            <div>
